<section style="padding: 10%;">
  <%= form_for @question, url: { controller: 'questions', action:'create'}, class: "new_questions_wrapper" do |f| %>
    <div class="form-group" style="margin-top: 10px;">
      <%= f.label :teacher_id, "質問する先生" %>
      <%= f.collection_select :teacher_id, [@current_student.teacher], :id, :full_name, {},  class: "form-control", id: "exampleFormControlSelect1" %>
    </div>
    
    <div class="form-group" style="margin-top: 10px;">
      <%= f.label :category, "質問の種類" %>
      <%= f.select :category, ["勉強内容", "勉強方法", "進路", "その他"],{} , class: "form-control", id: "exampleFormControlSelect1" %>
    </div>
    
    

      <div>
        <div class="form-group">
          <%= f.label :image, "画像の添付" %>
          <%= f.file_field :image, class: "form-control-file", id: "exampleFormControlFile1" %>
        </div>
      </div>

    
    <div class="form-group">
      <%= f.label :content, "質問の内容" %>
      <%= f.text_area :content, class: "form-control", id: "exampleFormControlTextarea1", rows: "6" %>
    </div>
    
    <div style="text-align: center;">
      <%= f.hidden_field :student_id, value: @current_student.id %>
      <%= f.submit "送信", class: "btn btn-primary", data: { disable_with: "送信中..." } %>
    </div>
  <% end %>
</section>
