<%= render partial: 'share/header' %>
<section class="new_msg_section">

<div class="new_msg_container" style="margin: 0 30px;">
<%= render partial: 'share/title', locals: {each_title: 'メッセージを送信'} %>
    <%= form_for @message do |f| %>
      <div class="choise_student">
        <div class="form-row align-items-center">
          <div class="col-auto my-1">
            <label for="inlineFormCustomSelect">生徒を選択</label>
            <%= f.collection_select(:student_id, @current_teacher.students, :id, :full_name, class: "custom-select mr-sm-2", id: "inlineFormCustomSelect") %>
          </div>
        </div>
      </div>
      <div class="new_msg_text">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">メッセージ</label>
          <%= f.text_area :comment, class: "form-control", rows: 3, id: "exampleFormControlTextarea1" %>
        </div>
      </div>
      <div class="submit_new_msg">
        <div class="col-auto my-1">
          <%= f.submit "送信", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</section>