<div class="stu_card">
  <div class="stu_card_info" style="margin-bottom: 20px;">
    <div class="stu_card_info_img">
      <% if variable.student.image.present? %>
        <%= image_tag variable.student.image.url, class: "stu_card_info_img_self" %>
      <% else %>
        <p class="stu_card_info_img_self" style="font-size: 14px;">画像<br>なし</p>
      <% end %>
    </div>
    <div class="stu_card_info_name">
      <% if variable.student.id == @current_student&.id %>
      <h5>
        <%= variable.student.full_name %>君
        <%= link_to "編集", "/news_field/#{variable.id}/edit", style: "color: tomato;margin-left: 40px;font-size:13px;" %>
        <%= link_to "削除", "/destroy_lh/#{variable.id}", style: "color: tomato;margin-left: 20px;font-size:13px;", method: :delete, data: { confirm: '削除しますか？' } %>
      </h5>
      <% else %>
      <h5>
        <%= link_to variable.student.full_name, "/each_student/#{variable.student.id}", method: :get %>
      </h5>
      <% end %>
    </div>
    <div class="stu_card_info_time_ago">
      <p style="margin-bottom: 5px;"><%= variable.created_at.to_s(:datetime_jp) %></p>
    </div>
  </div>
  <%= render partial: 'share/student-history', locals: {variable: variable} %>
</div>