<h1>パスワードを編集します</h1>

<%= form_for @student, url: "/password/update/#{@student.id}", method: "POST" do |f| %>
  <div class="form-group">
    <%= f.label "現在のパスワードを入力してください" %>
    <%= f.password_field :current_password %>
  </div> 
  <div class="form-group">
    <%= f.label "新しいパスワードを入力して下さい" %>
    <%= f.password_field :password %>
  </div> 
  <div class="form-group">
    <%= f.label "もう一度新しいパスワードを入力してください" %>
    <%= f.password_field :password_comfirmation %>
  </div> 
  <%= f.submit "更新", class: "btn btn-warning" %>
<% end %>