<%= render partial: 'share/header' %>
<section class="news_field_background">
<%= render partial: 'share/title', locals: {each_title: '学習履歴'} %>

<% @histories.each do |h| %>
<div class="balloon">
  <div class="stu_card_comment">
    <p><%= h.comment %></p>
  </div>
  <div class="stu_card_content">
    <div class="stu_card_content_subject">
      <p class="stu_card_content_subject_circle"><%= h.subject[0, 1] %></p>
    </div>
    <div class="stu_card_content_text">
      <span class= "stu_card_content_text_subject">教材: </span><span><%= h.learning_text %></span>
    </div>
  </div>
  <div class="stu_card_content_time">
    <p><%= h.learning_time.to_s(:time_jp) %></p>
  </div>
</div>
<% end %>