<%= render partial: 'share/header' %>

<section class="student_profile_section">
<%= render partial: 'share/student-and-teacher', locals: {teacher_url: "/students/edit"} %>

  <div class="student-card-wrapper">
    <div class="student-profile">
      <div class="student-profile-img">
      <% if @current_student.image.present? %>
        <%=image_tag @current_student.image.url , class: "student-profile-img-self" %>
      <% else %>
        <p>画像なし</p>
      <% end %>
        </div>
      <div class="student-profile">
        <h2><%= @current_student.full_name %></h2>
      </div>
      <div class="student-profile-subject">
        <h5>志望校</h5><h4><%= @current_student.school_of_choice %></h4>
      </div>
        <%= link_to "ログアウト", "/sessions/destroy", method: :delete, data: { confirm: "本当にログアウトしますか？" }, class: "btn btn-outline-danger", style:"padding: 6px 6px; font-size: 10px;" %>
    </div>
  </div>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">宿題</a>
      <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">模試成績</a>
      <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">担当の先生</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent" style="padding-top: 5px;">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <table class="table" border="1" style="border-collapse: collapse">
        <thead class="thead-dark">
          <tr valign="middle">
            <th scope="col" width="27%" style="font-size: 14px;">次回授業日</th>
            <th scope="col" style="font-size: 14px;">宿題範囲</th>
          </tr>
        </thead>
        <tbody>
          <% @events.sort.reverse.each do |e| %>
          <tr valign="middle">
              <th scope="row" style="font-size: 14px;"><%= e.start.to_s(:datetime_jp)[6, 7] %></th>
              <td style="font-size: 14px;"><%= e.homework %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <table class="table" border="1" style="border-collapse: collapse">
        <thead class="thead-dark">
          <tr valign="middle">
            <th scope="col" style="font-size: 14px;">模試名</th>
            <th scope="col" style="font-size: 14px;">科目</th>
            <th scope="col" style="font-size: 14px;">偏差値</th>
            <th scope="col" style="font-size: 14px;">判定</th>
          </tr>
        </thead>
        <tbody>
          <tr valign="middle">
            <!-- rowspanでセルを縦に結合 -->
            <!-- つまりrowspanの数は科目数 -->
              <td rowspan="4" style="font-size: 14px;">第一回全国模試</td>
              <td style="font-size: 14px;">国語</td>
              <td style="font-size: 14px;">50</td>
              <td rowspan="4" style="font-size: 14px;">A</td>
          </tr>
          <tr valign="middle">
              <td style="font-size: 14px;">数学</td>
              <td style="font-size: 14px;">60</td>
          </tr>
          <tr valign="middle">
            <td style="font-size: 14px;">英語</td>
            <td style="font-size: 14px;">50</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
      <div class="your_teacher_list">
        <div class="your_teacher_img">
          <% if @current_student.teacher.present? %>
            <% if @current_student.teacher.image.present? %>
              <%=image_tag @current_student.teacher.image.url, class: "your_teacher_img_self" %>
            <% else %>
              <p>画像なし</p>
            <% end %>
          <% else %>
          <% end %>
          </div>
          <% if @current_student.teacher.present? %>
            <div class="your_teacher_name">
              <h5><%=@current_student.teacher.full_name %></h5>
            </div>
            <div class="your_teacher_school">
              <p><%=@current_student.teacher.subject %>担当</p>
            </div>
          <% else %>
          <p>先生がいません</p>
          <% end %>
        </div>
    </div>
  </div>

  
</section>