<%= render 'share/header' %>
<div style="padding-top: 60px;"></div>

<div class="calendar_wrapper">
  <%= month_calendar attribute: :start,events: @events  do |date, events| %>
    <%= date.day %>
    <% events.each do |e| %>
      <div>
        <%= link_to e.title, e %>
      </div>
    <% end %>
  <% end %> 
</div> 

<div class="events_index_wrapper">
  <% @events.each do |e| %>
    <div class="event_card">
      <div class="left">
        <h3 style="color: #fff;font-size: 15px;"><%= e.title%></h3>
        <small style="color: #eee;"><%= e.start.to_s(:datetime_jp)%></small>
      </div>
      <div class="right">
        <span class="badge badge-info">
          <small><%= e.subject %></small>
        </span>
        <span class="right-description"><%= e.description %></span>
        <br>
        <small><%= e.start.to_s(:datetime_jp)[14, 20] %> ~ <%= e.end.to_s(:datetime_jp)[14, 20] %></small>
        <div class="homework_wrapper">
          <div><p>宿題</p></div>
          <div><p><%= e.homework %></p></div>
        </div>
      </div>
    </div>
  <% end %>
</div>
