<%= render 'share/header' %>
<div style="padding-top: 80px;"></div>
<div style="padding: 0 10%;">
  <h4 style="color: #364e96;
  padding: 0.5em 0;
  border-top: solid 3px #364e96;
  border-bottom: solid 3px #364e96;
  margin:35px 0px;">
    勉強したい教材を選択
  </h4>
  <div class="vocabulary-text">
    <ul>
    <% Wordbook.all.each do |book| %>
      <a href="/home/level/<%= book.id %>">
        <li style="margin-bottom: 0px;"><i class="fa fa-chevron-right"></i> <%= book.name %></li>
      </a>
      <div class="wordbook-progress" style="text-align: right;">
        <div class="progressWrapper">
          <progress max="100" value="<%= @current_student.corrects_of_book_percentage(book.id) %>"></progress>
        </div>
      </div>
      <div style="text-align: right;">
        <span style="font-size: 13px;"><%= @current_student.corrects_of_book_percentage(book.id) %> % 正解</span>
        <span>全<%= book.words.length %>単語</span>
      </div>
      <div style="text-align: right;">
        <a href="/home/level/<%= book.id %>/allwords" class="btn-flat-logo">
          <i class="fa fa-chevron-right"></i>単語一覧
        </a>
        <!-- <a href="/home/ranking/<%= book.id %>" class="btn-flat-logo">
          <i class="fa fa-chevron-right"></i>ランキング
        </a> -->
      </div>
    <% end %>
    <% OldWordbook.all.each do |book| %>
      <a href="/home/level/japanese/<%= book.id %>">
        <li style="margin-bottom: 0px;"><i class="fa fa-chevron-right"></i> <%= book.name %></li>
      </a>
      <div class="wordbook-progress" style="text-align: right;">
        <div class="progressWrapper">
          <progress max="100" value="<%= @current_student.corrects_of_book_percentage(book.id) %>"></progress>
        </div>
      </div>
      <div style="text-align: right;">
        <span style="font-size: 13px;"><%= @current_student.corrects_of_book_percentage(book.id) %> % 正解</span>
        <span>全<%= book.old_words.length %>単語</span>
      </div>
      <div style="text-align: right;">
        <a href="/home/level/<%= book.id %>/allwords" class="btn-flat-logo">
          <i class="fa fa-chevron-right"></i>単語一覧
        </a>
      </div>
    <% end %>
    </ul>
  </div>
</div>