<%= render partial: 'share/header' %>
<div style="padding: 76px 0 0 0"></div>

<section class="news_field_background">
  <div class="stu_card">
    <div class="stu_card_info" style="margin-bottom: 20px;">
      <div class="stu_card_info_img">
        <p class="stu_card_info_img_self" style="font-size: 14px;">画像<br>なし</p>
      </div>
      <div class="stu_card_info_name">
        <h5>Question君</h5>
      </div>
      <div class="stu_card_info_time_ago">
        <p style="margin-bottom: 5px;">2020年 09月 07日 11時 07分</p>
      </div>
    </div>
      <div class="balloon" style="margin-top: 0px;">
        <div class="stu_card_content">
          <div class="stu_card_content_subject">
              <p class="stu_card_content_subject_circle" style="margin-bottom: 5px">質</p>
          </div>
          <div class="stu_card_content_text" style="padding: 0px;padding-left: 5px;">
            <span style="font-size: 12px;">学習内容について</span>
            <div style="font-size: 12px;"><ココにPDFリンク貼る></div>
          </div>
        </div>
        <div class="stu_card_comment" style="margin-top: 5px;">
          <p style="font-size: 12px;margin-bottom: 5px;">添付した資料の三行目が分かりません。そもそも二行目のthatは関係代名詞なのでしょうか。それとも同格のthatなのでしょうか。どうぞよろしくお願いします。</p>
        </div>
      </div>
      <div class="teacher_card" style="border-left:solid 1px;">
        <div class="teacher_card_info">
          <div class="teacher_card_info_img">
            <p class="stu_card_info_img_self" style="font-size: 14px;">画像<br>なし</p>
          </div>
          <div class="teacher_card_info_name">
            <h5>Answer先生</h5>
          </div>
          <div class="teacher_card_info_time_ago">
            <p>2020年 09月 08日 01時 42分</p>
          </div>
        </div>
        <div class="balloon_teacher">
          <div class="teacher_card_comment">
            <p style="font-size: 11px;">To: Question君</p>
            <p>二行目のthatは同格のthatです。ideaの後にくるthatはほぼ100%で同格のthatです。覚えておきましょう。</p>
          </div>
        </div>
        <%= link_to "返信する", "teacher/reply", method: :get, style: "color: tomato;margin" %>
      </div>
    </div>


  <div class="stu_card">
    <div class="stu_card_info" style="margin-bottom: 20px;">
      <div class="stu_card_info_img">
        <p class="stu_card_info_img_self" style="font-size: 14px;">画像<br>なし</p>
      </div>
      <div class="stu_card_info_name">
        <h5>Question君</h5>
      </div>
      <div class="stu_card_info_time_ago">
        <p style="margin-bottom: 5px;">2020年 09月 07日 11時 07分</p>
      </div>
    </div>
      <div class="balloon" style="margin-top: 0px;">
        <div class="stu_card_content">
          <div class="stu_card_content_subject">
              <p class="stu_card_content_subject_circle" style="margin-bottom: 5px">質</p>
          </div>
          <div class="stu_card_content_text" style="padding: 0px;padding-left: 5px;">
            <span style="font-size: 12px;">学習内容について</span>
            <div style="font-size: 12px;"><ココにPDFリンク貼る></div>
          </div>
        </div>
        <div class="stu_card_comment" style="margin-top: 5px;">
          <p style="font-size: 12px;margin-bottom: 5px;">添付した資料の三行目が分かりません。そもそも二行目のthatは関係代名詞なのでしょうか。それとも同格のthatなのでしょうか。どうぞよろしくお願いします。</p>
        </div>
        <%= link_to "返信する", "teacher/reply", method: :get, style: "color: tomato;margin" %>
      </div>
    </div>




  <% @news.each do |e| %>
  <% if e.try(:subject) %>
  <div class="stu_card">
    <div class="stu_card_info" style="margin-bottom: 20px;">
      <div class="stu_card_info_img">
      <% if e.student.image.present? %>
        <%= image_tag e.student.image.url, class: "stu_card_info_img_self" %>
      <% else %>
        <p class="stu_card_info_img_self" style="font-size: 14px;">画像<br>なし</p>
      <% end %>
      </div>
      <div class="stu_card_info_name">
        <% if e.student.id == @current_student&.id %>
          <h5>
            <%= e.student.full_name %>君
            <%= link_to "編集", "/news_field/#{e.id}/edit", style: "color: tomato;margin-left: 40px;" %>
            <%= link_to "削除", "/destroy_lh/#{e.id}", style: "color: tomato;margin-left: 20px;", method: :delete %>
          </h5>
        <% else %>
          <h5><%= link_to e.student.full_name, "/each_student/#{e.student.id}", method: :get %></h5>
        <% end %>
      </div>
      <div class="stu_card_info_time_ago">
        <p style="margin-bottom: 5px;"><%= e.created_at.to_s(:datetime_jp) %></p>
      </div>
    </div>
    
    <%= render partial: 'share/student-history', locals: {variable: e} %>
  </div>
  
  <% else %>
  
  <div class="teacher_card">
    <div class="teacher_card_info">
      <div class="teacher_card_info_img">
        <% if e.teacher.present? %>
          <% if e.teacher.image.present? %>
            <%=image_tag e.teacher.image.url , class: "teacher_card_info_img_self" %>
          <% else %>
            <p class="stu_card_info_img_self" style="font-size: 14px;">画像<br>なし</p>
          <% end %>
        <% else %>
          <div></div>
        <% end %>
      </div>
      <div class="teacher_card_info_name">
        <% if e.teacher.id == @current_teacher&.id %>
          <h5>
            <%= e.teacher.full_name %>先生
            <%= link_to "削除", "/messages/#{e.id}", method: :delete, style: "color: tomato;margin-left: 40px;" %>
          </h5>
        <% else %>
          <h5><%= e.teacher.full_name %>先生</h5>
        <% end %>
      </div>
      <div class="teacher_card_info_time_ago">
        <p><%= e.created_at.to_s(:datetime_jp) %></p>
      </div>
    </div>
    <div class="balloon_teacher">
      <div class="teacher_card_comment">
      <% if @current_student.present? %>
        <p><%= e.comment %></p>
      <% else %>
        <p style="font-size: 11px;">To: <%= e.student.full_name %>君</p>
        <p><%= e.comment %></p>
      <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <% end%>
  <% if @current_teacher %>
    <div class="new_message_add">
    <a href="/messages/new" class="new_message_add_btn">
    <i class="fas fa-comment message_icon"></i>
    </a>
    </div>
  <% else %>
    <div class="new_question_add">
      <a href="/questions/new" class="new_message_add_btn">
        <i class="far fa-hand-paper question_icon"></i>
        <!-- <i class="fas fa-question question_icon"></i> -->
      </a>
    </div>
    <div class="new_message_add">
    <a href="/new_lh" class="new_message_add_btn">
      <i class="fas fa-pencil-alt message_icon"></i>
    </a>
    </div>
  <% end %>
</section>