<%= render partial: 'share/header' %>
<div style="padding: 76px 0 0 0"></div>

<section class="news_field_background">
  <div class="tabs">
    <input id="all" type="radio" name="tab_item" checked>
    <label class="tab_item" for="all">学習履歴</label>
    <input id="programming" type="radio" name="tab_item">
    <label class="tab_item" for="programming">質問</label>
    <input id="design" type="radio" name="tab_item">
    <label class="tab_item" for="design">単語テスト</label>

    <div class="tab_content" id="all_content">
      <div class="tab_content_description">
        <% @lm.each do |l| %>
          <% if l.class.name == "LearningHistory" %>
            <%= render partial: 'share/learninghistory', locals: {variable: l} %>
          <% elsif l.class.name == "Message" %>
            <%= render partial: 'share/message', locals: {variable: l} %>
          <% end %>
        <% end %>
      </div>
      <% if @current_teacher %>
        <div class="new_message_add">
          <a href="/messages/new" class="new_message_add_btn">
            <i class="fas fa-comment message_icon"></i>
          </a>
        </div>
      <% else %>
        <div class="new_message_add">
          <a href="/new_lh" class="new_message_add_btn">
            <i class="fas fa-pencil-alt message_icon"></i>
          </a>
        </div>
      <% end %>
    </div>

    <div class="tab_content" id="programming_content">
      <div class="tab_content_description">
        <% @questions.each do |q| %>
          <%= render partial: 'share/question', locals: {variable: q} %>
        <% end %>
      </div>
      <% if @current_student %>
        <div class="new_message_add">
          <a href="/questions/new" class="new_message_add">
            <i class="far fa-hand-paper question_icon"></i>
            <!-- <i class="fas fa-question question_icon"></i> -->
          </a>
        </div>
      <% end %>
    </div>

    <div class="tab_content" id="design_content">
      <div class="tab_content_description">
        <% @t&.each do |t| %>
          <% if t.class.name == "WordTest" %>
            <% next if t.results.last.nil? %>
            <%= render partial: 'share/wordtest', locals: {variable: t} %>
          <% else %>
            <% next if t.old_results.last.nil? %>
            <%= render partial: 'share/oldwordtest', locals: {variable: t} %>
          <% end %>
        <% end %>
      </div>
      <% if @current_student %>
        <div class="new_message_add">
          <a href="/home/show" class="new_message_add">
            <i class="fas fa-play"></i>
          </a>
        </div>
      <% end %>
    </div>
  </div>
</section>

    
    
    














