<%= render partial: 'header' %>
<section class="news_field_background">
  <div style="padding: 76px 0 0 0"></div>

  <% @news.each do |e| %>
  <% if e.try(:subject) %>
  <div class="stu_card">
    <div class="stu_card_info">
      <div class="stu_card_info_img">
        <%= image_tag "stu-profile.jpg", class: "stu_card_info_img_self" %>
      </div>
      <div class="stu_card_info_name">
        <h5><%= e.student.full_name %>君</h5>
      </div>
      <div class="stu_card_info_time_ago">
        <p><%= e.created_at.to_s(:datetime_jp) %></p>
      </div>
    </div>
    
    <div class="balloon">
      <div class="stu_card_comment">
        <p>「<%= e.comment %>」</p>
      </div>
      <div class="stu_card_content">
        <div class="stu_card_content_subject">
          <p class="stu_card_content_subject_circle"
          ><%= e.subject[0, 1] %></p>
        </div>
        <div class="stu_card_content_text">
          <span class= "stu_card_content_text_subject">教材: </span><span><%= e.learning_text %></span>
        </div>
      </div>
      <div class="stu_card_content_time">
        <p><%= e.learning_time.to_s(:time_jp) %></p>
      </div>
    </div>
  </div>
  
  <% else %>
  
  <div class="teacher_card">
    <div class="teacher_card_info">
      <div class="teacher_card_info_img">
        <%=image_tag e.teacher.image.url , class: "teacher_card_info_img_self" %>
      </div>
      <div class="teacher_card_info_name">
        <h5><%= e.teacher.full_name %>先生</h5>
      </div>
      <div class="teacher_card_info_time_ago">
        <p><%= e.created_at.to_s(:datetime_jp) %></p>
      </div>
    </div>
    <div class="balloon_teacher">
      <div class="teacher_card_comment">
        <p><%= e.comment %></p>
      </div>
    </div>
  </div>
  <% end %>
  <% end%>
  <% if @current_teacher %>
    <div class="new_message_add">
    <a href="#" class="new_message_add_btn">
    <i class="fas fa-comment message_icon"></i>
    </a>
    </div>
  <% else %>
    <div class="new_message_add">
    <a href="#" class="new_message_add_btn">
    <i class="fas fa-pencil-alt message_icon"></i></i>
    </a>
    </div>
  <% end %>
</section>