<%= render partial: 'share/header' %>
<section class="new_msg_section">
<%= render partial: 'share/title', locals: {each_title: 'メッセージ送信'} %>
<div class="new_msg_container">
    <form>
      <div class="choise_student">
        <div class="form-row align-items-center">
          <div class="my-1">
            <label for="inlineFormCustomSelect">送信する生徒を選択</label>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
            <% @current_teacher.students.each_with_index do |s, i| %>
              <% if i == 0 %>
                <option selected><%= s.full_name %></option>
              <% else %>
              <option value=<%=i%>><%= s.full_name %></option>
              <% end %>
            <% end %>
            </select>
          </div>
        </div>
      </div>
      <div class="new_msg_text">
        <div class="form-group">
          <label for="exampleFormControlTextarea1">メッセージを作成</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </div>
      <div class="submit_new_msg">
        <div class="my-1 submit_new_msg1">
          <button type="submit" class="btn btn-primary">送信する</button>
        </div>
      </div>
    </form>
  </div>
</section>