<%= render partial: 'share/header' %>
<section class="news_field_background">

<div style="padding: 76px 0 0 0"></div>

<div class="show_test_student_list">
  <ul class="nav nav-tabs">
    <% @students.each_with_index do |s, i| %>
    <li class="nav-item">
      <% if i == 0 %>
      <a href="#student<%= i %>" class="nav-link active" data-toggle="tab">
      <% else %>
      <a href="#student<%= i %>" class="nav-link" data-toggle="tab">
      <% end %>
      <% if s.image.present? %>
        <%= image_tag s.image.url, class: "stu_card_info_img_circle" %>
      <% else %>
      画像なし
      <% end %>
        <h5><%= s.full_name %>君</h5>
      </a>
    </li>
    <% end %>
  </ul>
</div>

<div class="tab-content">
  <% @students.each_with_index do |s, i| %>
  <% if i == 0 %>
    <div id="student<%= i %>" class="tab-pane test_score_contaner active">
  <% else %>
    <div id="student<%= i %>" class="tab-pane test_score_contaner">
  <% end %>
 


  <table class="table" border="2" style="border-collapse: collapse">
    <thead class="thead-dark">
      <tr valign="middle">
        <th scope="col"  style="font-size: 14px;">学習日</th>
        <th scope="col" width="40%" style="font-size: 14px;">学習時間</th>
      </tr>
    </thead>
    <tbody>
      <% s.history_time_ary.each do |history|%>
        <tr valign="middle" style="border-bottom: 2px solid;">
          <th scope="row" style="font-size: 14px;"><%= history[0] %></th>  
          <td style="font-size: 14px;"><%= history[1] %>分</td>
        </tr>
      <% end %>
      
    </tbody>
  </table>


    <% s.learning_histories.sort.reverse.each do |h| %>
      <div class="stu_card_info_time_ago" style="text-align: right;">
        <p style="margin-bottom: 5px;"><%= h.created_at.to_s(:datetime_jp) %></p>
      </div>
      <%= render partial: 'share/student-history', locals: {variable: h} %>
    <% end %>
  </div>
  <% end %>
</div>