<%= render partial: 'share/header' %>
<section class="teacher_profile_section">
  <%= render partial: 'share/student-and-teacher', locals: {teacher_url: "/teachers/edit"} %>


  <div class="tacher-card-wrapper">
    <div class="teacher-profile">
      <div class="teacher-profile-img">
      <% if @current_teacher.image.present? %>
        <%=image_tag @current_teacher.image.url , class: "teacher-profile-img-self" %>
      <% else %>
        <p>画像が設定されていません</p>
      <% end %>
      </div>
      <div class="teacher-profile">
        <h1><%= @current_teacher.full_name %></h1>
      </div>
      <div class="teacher-profile-subject">
        <h5>担当教科</h5><h2><%= @current_teacher.subject %></h2>
      </div>
      <%= link_to "ログアウト", "/sessions/destroy", method: :delete, data: { confirm: "本当にログアウトしますか？" }, class: "btn btn-outline-danger" %>
    </div>
  </div>

  <div class="your_students">
    <div class="your_students_title">
      <div>
        <h4>Your Students</h4>
      </div>
      <div class="your_students_add">
        <a href="/students/index" class="your_students_add_btn">
          <i class="fas fa-plus your_students_add_icon"></i>
        </a>
      </div>
    </div>
    <div class="your_students_list">
      <% @current_teacher.students.each do |s| %>
      <div class="your_student_list">
        <div class="your_student_img">
          <% if s.image.present? %>
            <%=image_tag s.image.url, class: "your_student_img_self" %>
          <% else %>
          生徒の画像が<br>設定されていません
          <% end %>
        </div>
        <div class="your_student_name">
          <h5><%=s.full_name %></h5>
        </div>
        <div class="your_student_school">
          <p><%=s.school_of_choice %>志望</p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="teacher_profile_bottom_margin"></div>
</section>
