<%= render partial: 'share/header' %>
<section class="teacher_profile_section">
<div style="padding: 76px 0 0 0"></div>

  <div class="tacher-card-wrapper">
    <div style="text-align: right;">
      <a href="/teachers/edit", class="student-and-teacher_edit_btn">
          <i class="fas fa-user-edit student-and-teacher_edit_icon"></i>
      </a>
    <div>
    <div class="teacher-profile">
      <!-- <div style="margin-right:0;">
        <a href="/teachers/edit", class="student-and-teacher_edit_btn">
            <i class="fas fa-user-edit student-and-teacher_edit_icon"></i>
        </a>
      <div> -->
      <div class="teacher-profile-img">
      <% if @current_teacher.image.present? %>
        <%=image_tag @current_teacher.image.url , class: "student-profile-img-self" %>
      <% else %>
        <p>画像が設定されていません</p>
      <% end %>
      </div>
      <div class="student-profile">
        <h2><%= @current_teacher.full_name %></h2>
      </div>
      <div class="teacher-profile-subject">
        <h5 style="margin-top: 10px;margin-bottom: 0px;">担当教科</h5><h2><%= @current_teacher.subject %></h2>
      </div>
      <%= link_to "ログアウト", "/sessions/destroy", method: :delete, data: { confirm: "本当にログアウトしますか？" }, class: "btn btn-outline-danger", style:"padding: 6px 6px; font-size: 10px;" %>
    </div>
  </div>

  <div class="your_students">
    <div class="your_students_title">
      <div>
        <h4>Your Students</h4>
      </div>
      <div class="your_students_add">
        <a href="/students/index" class="your_students_add_btn">
          <i class="fas fa-plus your_students_add_icon"></i>
        </a>
      </div>
    </div>
    <div class="your_students_list">
      <% @current_teacher.students.each do |s| %>
      <div class="your_student_list">
        <div class="your_student_img">
          <% if s.image.present? %>
            <%=image_tag s.image.url, class: "your_student_img_self" %>
          <% else %>
          画像なし
          <% end %>
        </div>
        <div class="your_student_name">
          <h5 style="color: black;"><%= link_to s.full_name, "/each_student/#{s.id}", method: :get, :style=>"color:white;" %></h5>
        </div>
        <div class="your_student_school">
          <p><%=s.school_of_choice %>志望</p>
        </div>
        <%= link_to "削除", "/students/#{s.id}/unfasten", class: "btn btn-danger", method: :delete, data: { confirm: '削除しますか？' } %> 
      </div>
      <% end %>
    </div>
  </div>
  <div class="teacher_profile_bottom_margin"></div>
</section>