<%= render partial: 'share/header' %>
<section class="new_msg_section" id= "show_your_students_test">
<%= render partial: 'share/title', locals: {each_title: 'テスト成績'} %>

<div class="submit_new_msg">
  <div class="my-1 submit_new_msg1">
  <button type="submit" class="btn btn-primary" id="new_test">
    新しいテストを追加する
  </button>
  </div>
</div>

<div class="show_test_student_list">
  <ul class="nav nav-tabs">
    <% @students.each_with_index do |s, i| %>
    <li class="nav-item">
      <% if i == 0 %>
      <a href="#student<%= i %>" class="nav-link active" data-toggle="tab">
      <% else %>
      <a href="#student<%= i %>" class="nav-link" data-toggle="tab">
      <% end %>
        <%= image_tag s.image.url, class: "stu_card_info_img_circle" %>
        <h5><%= s.full_name %>君</h5>
      </a>
    </li>
    <% end %>
  </ul>
</div>

<div class="tab-content">
  <% @students.each_with_index do |s, i| %>
  <% if i == 0 %>
  <div id="student<%= i %>" class="tab-pane test_score_contaner active">
  <% else %>
  <div id="student<%= i %>" class="tab-pane test_score_contaner">
  <% end %>

    <div class="test_socre_graph_container">
      <div class="test_socre_graph_container_border">
        <div class="test_socre_graph_title">
          <%= s.full_name %>君の得点推移
        </div>
        <div class="test_score_graph_wrapper">
          <div class="test_score_graph">
            <%
            array = []
            s.tests.each do |t|
            array << [t.date, t.score]
            end
            %>
            <%= line_chart array, 
            points: false,
            class: "test_score_graph_content" %>
          </div>
        </div>
      </div>
    </div>
    <div class="test_history_score_list">
      <% s.tests.sort.reverse.each do |t| %>
      <div class="each_test_history_score_card">
        <div class="each_test_history_score_card_upper">
          <div>
            <%= t.name %>
          </div>
          <div>
            得点(率)<%= t.score %>
          </div>
          <div>
            評価<%= t.grade %>
          </div>
        </div>
        <div class="each_test_history_score_card_bottom">
          <div>
            ( 平均点(率)： <%= t.average_score %> )
          </div>
          <div>
            テスト実施日 <%= t.date %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
</section >



<section>
<div style="padding: 76px 0 0 0"></div>
<p id=current_teacher_id style = display:none;>
  <%= @current_teacher.id %>
</p>

<div class="new_test_container" id= "new_your_students_test">

    <%= form_for(:test, url: {controller: "teachers", action: "ajax_create_test"}) do |f|  %>

      <div class="choise_student">
        <div class="my-1">
          <%= f.label :student_id, "追加したい生徒" %>
          <%= f.collection_select(:student_id, Student.where(teacher_id: @current_teacher.id), :id, :full_name,{},{class: "custom-select"}) %>
        </div>
      </div>

      <div class="new_test_text">
        <div class="my-1">
          <%= f.label :name, "テスト名を記入" %>
          <%= f.text_area :name, class: "form-control", rows: 1 %>
        </div>
      </div>

      <div class="score_wrapper">
        <div class="choise_score">
          <%= f.label :score, "点数を入力" %>
          <%= f.number_field :score, class: "form-control", max: 100, min: 0, value: 0 %>
        </div>
        <div class="choise_average_score">
          <%= f.label :average_score, "平均点を入力" %>
          <%= f.number_field :average_score, class: "form-control", max: 100, min: 0, value: 0 %>
        </div>
      </div>

      <div class="choise_grade">
        <div class="my-1">
          <%= f.label :grade, "評価を選択" %>
          <%= f.select :grade, ["A", "B", "C", "D"],{}, class: "custom-select" %>
        </div>
      </div>

      <div class="form-group row choise_date">
        <%= f.label :date, "テスト実施日", class: "col-5 col-form-label" %>
        <div class="col-7">
          <% require "date" %>
          <%= f.date_field :date, class: "form-control", value: Date.today %>
        </div>
      </div>
  
      <div class="submit_new_msg">
        <div class="my-1 submit_new_msg1">
          <%= f.submit "追加する", class: "btn btn-primary" %>
        </div>
      </div>


    <% end %>
   
  </div>
</section>