<h1>新しい単語を登録</h1>
<div style="margin: 30px 50px;" />
  <%= form_for @word do |f| %>
    <%= f.label :english, "英語" %>
    <%= f.text_field :english, class: "form-control" %>
    <%= f.label :japanese, "日本語" %>
    <%= f.text_field :japanese, class: "form-control" %>
    <%= f.label :part, "品詞" %>
    <%= f.text_field :part, class: "form-control" %>
    <%= f.label :level, "レベル" %>
    <%= f.text_field :level, class: "form-control" %>
    <%= f.label :wordbook_id, "単語帳を選択" %>
    <%= f.collection_select(:wordbook_id, Wordbook.all, :id, :name, {}, {class: 'custom-select'}) %>

    <%= f.submit "追加", class: "btn btn-primary" %>
  <% end %>
</div>