<div class="word-test-index-wrapper">
  <% @wordbooks.each do |book| %>
    <h1 class="book-title"><%= book.name %></h1>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">レベル</th>
            <th scope="col">回答数</th>
            <th scope="col">正答率</th>
            <th scope="col">最後に受けた日</th>
          </tr>
        </thead>
        <tbody>
          <% book.levels.each do |level| %>
            <tr>
              <th class="result-td"><%= level %></th>
              <td class="result-td"><%= @student.solved_results(book.id, level).length %>単語</td>
              <td class="result-td"><%= @student.correct_percentage(book.id, level) %>%</td>
              <td class="result-td"><%= @student.last_solved_at(book.id, level) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %> 
</div>